# EDA : NYC DATASET

In [80]:
import pandas as pd 
from datetime import datetime

## YELLOW TAXI ...

In [82]:
data_yellow =  pd.read_parquet("include/datasource/yellow_tripdata_2024-01.parquet", engine="pyarrow")
data_yellow

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.70,1.00,0.5,0.00,0.00,1.0,22.70,2.5,0.0
1,1,2024-01-01 00:03:00,2024-01-01 00:09:36,1.0,1.80,1.0,N,140,236,1,10.00,3.50,0.5,3.75,0.00,1.0,18.75,2.5,0.0
2,1,2024-01-01 00:17:06,2024-01-01 00:35:01,1.0,4.70,1.0,N,236,79,1,23.30,3.50,0.5,3.00,0.00,1.0,31.30,2.5,0.0
3,1,2024-01-01 00:36:38,2024-01-01 00:44:56,1.0,1.40,1.0,N,79,211,1,10.00,3.50,0.5,2.00,0.00,1.0,17.00,2.5,0.0
4,1,2024-01-01 00:46:51,2024-01-01 00:52:57,1.0,0.80,1.0,N,211,148,1,7.90,3.50,0.5,3.20,0.00,1.0,16.10,2.5,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2964619,2,2024-01-31 23:45:59,2024-01-31 23:54:36,NaN,3.18,NaN,None,107,263,0,15.77,0.00,0.5,2.00,0.00,1.0,21.77,NaN,NaN
2964620,1,2024-01-31 23:13:07,2024-01-31 23:27:52,NaN,4.00,NaN,None,114,236,0,18.40,1.00,0.5,2.34,0.00,1.0,25.74,NaN,NaN
2964621,2,2024-01-31 23:19:00,2024-01-31 23:38:00,NaN,3.33,NaN,None,211,25,0,19.97,0.00,0.5,0.00,0.00,1.0,23.97,NaN,NaN
2964622,2,2024-01-31 23:07:23,2024-01-31 23:25:14,NaN,3.06,NaN,None,107,13,0,23.88,0.00,0.5,5.58,0.00,1.0,33.46,NaN,NaN
2964623,1,2024-01-31 23:58:25,2024-02-01 00:13:30,NaN,8.10,NaN,None,138,75,0,32.40,7.75,0.5,7.29,6.94,1.0,55.88,NaN,NaN

In [83]:
# visualiez schema
data_yellow.dtypes

VendorID                          int32
tpep_pickup_datetime     datetime64[us]
tpep_dropoff_datetime    datetime64[us]
passenger_count                 float64
trip_distance                   float64
RatecodeID                      float64
store_and_fwd_flag               object
PULocationID                      int32
DOLocationID                      int32
payment_type                      int64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
improvement_surcharge           float64
total_amount                    float64
congestion_surcharge            float64
Airport_fee                     float64
dtype: object

In [84]:
data_yellow.columns.to_list()

['VendorID',
 'tpep_pickup_datetime',
 'tpep_dropoff_datetime',
 'passenger_count',
 'trip_distance',
 'RatecodeID',
 'store_and_fwd_flag',
 'PULocationID',
 'DOLocationID',
 'payment_type',
 'fare_amount',
 'extra',
 'mta_tax',
 'tip_amount',
 'tolls_amount',
 'improvement_surcharge',
 'total_amount',
 'congestion_surcharge',
 'Airport_fee']

## Catalog de donnÃ©es


| **Colonne**                          | **Type de donnÃ©es**           | **Description**                                                                 |
|---------------------------------|-------------------------------|---------------------------------------------------------------------------------|
| `VendorID`                      | int32                         | Identifiant du fournisseur de taxi (1 = Creative Mobile Technologies, 2 = Verifone).|
| `tpep_pickup_datetime`          | datetime64[us]                | Date et heure de la prise en charge du passager.                                |
| `tpep_dropoff_datetime`         | datetime64[us]                | Date et heure de la dÃ©pose du passager.                                         |
| `passenger_count`               | float64                       | Nombre de passagers dans le taxi.                                               |
| `trip_distance`                 | float64                       | Distance totale du trajet (en miles).                                           |
| `RatecodeID`                    | float64                       | Code du tarif appliquÃ© (par exemple, tarif standard ou tarif aÃ©roport).         |
| `store_and_fwd_flag`            | object                         | Indicateur (Y/N) si le trajet a Ã©tÃ© enregistrÃ© en mode "store-and-forward" pendant une interruption de rÃ©seau.|
| `PULocationID`                  | int32                         | ID de la zone de prise en charge (zone gÃ©ographique de dÃ©part).                 |
| `DOLocationID`                  | int32                         | ID de la zone de dÃ©pose (zone gÃ©ographique d'arrivÃ©e).                          |
| `payment_type`                  | int64                         | Mode de paiement utilisÃ© (par exemple, carte de crÃ©dit, espÃ¨ces, etc.).         |
| `fare_amount`                   | float64                       | Montant de la course (tarif de base).                                           |
| `extra`                         | float64                       | Montant supplÃ©mentaire appliquÃ© (par exemple, surcharge pour certains services).|
| `mta_tax`                       | float64                       | Taxe MTA (Metropolitan Transportation Authority) appliquÃ©e Ã  la course.        |
| `tip_amount`                    | float64                       | Montant du pourboire donnÃ© au chauffeur.                                        |
| `tolls_amount`                  | float64                       | Montant des pÃ©ages payÃ©s pendant le trajet.                                     |
| `improvement_surcharge`         | float64                       | Surcharge pour l'amÃ©lioration des infrastructures.                              |
| `total_amount`                  | float64                       | Montant total de la course, incluant tous les frais et taxes.                   |
| `congestion_surcharge`          | float64                       | Surcharge pour la congestion dans certaines zones de la ville.                 |
| `Airport_fee`                   | float64                       | Frais d'aÃ©roport, gÃ©nÃ©ralement appliquÃ© pour les trajets Ã  destination ou en provenance de l'aÃ©roport. |

## GREEN TAXI ...

In [85]:
data_green =  pd.read_parquet("include/datasource/green_tripdata_2024-01.parquet", engine="pyarrow")
data_green

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,1.0,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,1.0,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,1.0,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,1.0,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,1.0,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,0.0,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,0.0,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,0.0,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,0.0,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,0.0,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN

In [86]:
data_green.rename(columns = {'lpep_pickup_datetime':"tpep_pickup_datetime"}, inplace =  True)
data_green.rename(columns = {'lpep_dropoff_datetime':"tpep_dropoff_datetime"}, inplace =  True)
data_green['Airport_fee'] =  0

In [87]:
data_green

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:46:55,2024-01-01 00:58:25,N,1.0,236,239,1.0,1.98,12.80,...,0.5,3.61,0.0,NaN,1.0,21.66,1.0,1.0,2.75,0
1,2,2024-01-01 00:31:42,2024-01-01 00:52:34,N,1.0,65,170,5.0,6.54,30.30,...,0.5,7.11,0.0,NaN,1.0,42.66,1.0,1.0,2.75,0
2,2,2024-01-01 00:30:21,2024-01-01 00:49:23,N,1.0,74,262,1.0,3.08,19.80,...,0.5,3.00,0.0,NaN,1.0,28.05,1.0,1.0,2.75,0
3,1,2024-01-01 00:30:20,2024-01-01 00:42:12,N,1.0,74,116,1.0,2.40,14.20,...,1.5,0.00,0.0,NaN,1.0,16.70,2.0,1.0,0.00,0
4,2,2024-01-01 00:32:38,2024-01-01 00:43:37,N,1.0,74,243,1.0,5.14,22.60,...,0.5,6.28,0.0,NaN,1.0,31.38,1.0,1.0,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56546,2,2024-01-31 20:46:00,2024-01-31 20:55:00,None,NaN,33,25,NaN,0.00,11.58,...,0.0,3.14,0.0,NaN,1.0,15.72,NaN,NaN,NaN,0
56547,2,2024-01-31 21:06:00,2024-01-31 21:11:00,None,NaN,72,72,NaN,0.49,11.58,...,0.0,0.00,0.0,NaN,1.0,12.58,NaN,NaN,NaN,0
56548,2,2024-01-31 21:36:00,2024-01-31 21:40:00,None,NaN,72,72,NaN,0.52,11.58,...,0.0,2.52,0.0,NaN,1.0,15.10,NaN,NaN,NaN,0
56549,2,2024-01-31 22:45:00,2024-01-31 22:51:00,None,NaN,41,42,NaN,1.17,14.22,...,0.0,0.00,0.0,NaN,1.0,15.22,NaN,NaN,NaN,0
56550,2,2024-01-31 22:28:00,2024-01-31 22:59:00,None,NaN,33,91,NaN,9.27,44.62,...,0.0,4.56,0.0,NaN,1.0,50.18,NaN,NaN,NaN,0

In [90]:
data_green = data_green[data_yellow.columns.to_list()]

### To CSV

In [93]:
data_yellow = data_yellow.head(450000)
data_yellow.to_csv('dataset_yellow.csv', index =  False)

In [94]:
data_green.to_csv('dataset_green.csv', index =  False)